@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Pinyon+Script&display=swap');

*{
    font-size: 16px;
}

:root{
    --roxo-escuro: #693A8E;
    --cor-clara: #DDC7EE;
    --roxo-claro: #AA5BE9;
    --cinza: #C6C5C7;
    --preto: #12091A;
}

body{
    background-color: var(--cor-clara);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container {
  padding: 0;
}

main{
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 2px 10px 15px var(--preto);
}

header{
    background-color: var(--roxo-claro);
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    font-family:'Pinyon Script', cursive;
}

nav.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza);
}

img#img-social{
    height: 50px;
}

div#instagram{
    margin-right: 10px;
}

img#logo{
    width: 8%;
    height: 8%;
    margin-right: 25%;
}

section#conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
}

div#apresentacao-esq{
    width: 50%;
    padding-top: 2%;
}